#section {
    width: 80%;
    min-width: 780px;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
}
/* 简介栏 */
.title-head {
    font-size: 40px;
    font-weight: 350;
    line-height: 1.5;
    margin-bottom: 70px;
    color: rgba(0,0,0,0.8);
}
.intro > h2 {
    color: rgba(0,0,0,0.8);
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 10px;
}
.intro > h5 {
    font-size: 15px;
    margin-bottom: 30px;
}
.intro > p {
    width: 76%;
    margin: 0 auto;
}
/* 技巧篇 */
.skills {
    margin: 70px auto;
}
/* 团队照片墙 */
.team .author img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    border: 4px solid #ffea00;
    filter: grayscale(100%);
}
.team .author .work {
    color: #ffea00;
    padding: 5px 20px;
    text-align: center;
    font-size: 1.4em;
    line-height: 1.2;
    cursor: pointer;
    margin-top: 5px;
    background: #424147;
}
#blur {
    filter: blur(2px);
}
#sepia {
    filter: brightness(15%);
}
#sepia:hover {
    filter:invert(100%)
}
/* 隐藏元素显示 */
.author .desc {
    position: absolute;
    margin-left: 16px;
    width: 90%;
    height: 90%;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(250, 126, 10, 0.8);
    padding-top: 150px;
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.author .desc h3 {
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}
.author .desc span {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* .author:hover .desc, .author:focus + .desc {
    opacity: 1;
}
.author img:hover + .desc, .author img:focus + .desc {
    opacity: 1;
} */